.input_container {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 19px;
}

.input {
  border: 1px solid #dfdfdf;
  padding: 9px 16px;
  min-height: 44px;
}

.error {
  background-color: var(--bs-white);
  color: var(--bs-danger);
  letter-spacing: 0.5px;
  line-height: 15px;
  font-size: 12px;
  margin-top: 1px;
}

.link_forgot_password,
.input_container,
.before_link,
.remember_me,
.link_login,
.input {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
}

.button {
  background-color: var(--primary-color);
  font-family: "Poppins-Bold";
  color: var(--bs-white);
  padding: 16px 111px;
  border-radius: 4px;
  font-style: normal;
  font-size: 15.5px;
  font-weight: bold;
  line-height: 24px;
  min-width: 100%;
  border: none;
}

.before_link {
  padding-right: 8px;
  color: #616161;
  text-align: end;
}

.link_forgot_password,
.link_login {
  color: var(--primary-color);
  text-decoration: none;
}

.remember_me {
  color: var(--bs-dark);
}

.link_forgot_password,
.remember_me {
  font-size: 16px;
}
