.wrapper_thead_inner {
  box-shadow: inset 0 -2px 4px rgb(0 0 0 / 10%), inset 0 2px 4px rgb(0 0 0 / 10%);
  background-color: var(--blue-gray-color);
  color: var(--gray-800-color);
  font-family: "Poppins-Bold";
  font-style: normal;
  line-height: 21px;
  font-weight: bold;
  font-size: 14px;
}

.wrapper_thead_item_inner {
  padding: 8px 12px 8px 16px !important;
}

.wrapper_tbody_inner {
  box-shadow: inset 0 -2px 4px rgb(0 0 0 / 10%), inset 0 2px 4px rgb(0 0 0 / 10%);
  background: var(--blue-gray-color);
  font-family: "Poppins-Regular";
  color: var(--bs-gray-800);
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  font-size: 12px;
}

.wrapper_tbody_item_inner {
  padding: 5px 16px !important;
}

.button_add_ticket {
  border: 2px solid var(--primary-color);
  background: var(--blue-gray-color);
  font-family: "Poppins-Regular";
  color: var(--primary-color);
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  font-size: 14px;
  padding: 5px;
}

.button_add_ticket:hover,
.button_add_ticket:focus {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  box-shadow: none;
}

.icon_plus_add {
  vertical-align: -5px;
  font-size: 20px;
}
