.input_container {
  margin-bottom: 18px;
  position: relative;
}

.input_container:last-of-type {
  margin-bottom: 50px;
}

.label {
  color: #6c757d;
  display: block;
}

.input {
  border: 1px solid #dfdfdf;
  padding: 9px 16px;
  min-height: 44px;
  width: 100%;
}

.input_container,
.input,
.wrapper_link_login {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
}

.error {
  position: absolute;
  line-height: 20px;
  font-size: 12px;
  bottom: -29px;
  color: red;
}

.button {
  background-color: #001689;
  font-family: "Poppins-Bold";
  padding: 16px 111px;
  margin-bottom: 16px;
  font-style: normal;
  border-radius: 4px;
  font-weight: bold;
  line-height: 24px;
  font-size: 15.5px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  width: 100%;
}

.wrapper_link_login {
  text-align: center;
  color: #616161;
}

.link_login {
  text-decoration: none;
  color: #001689;
}
