.wrapper_header {
  min-height: 5vh;
}

.background_header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
  padding: 12px 24px 12px 50px;
  background-color: #000e57;
}

.wrapper_logo {
  max-width: 200px;
  padding: 0;
}

.logo {
  max-width: 120px;
}

.text {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  font-size: 16px;
  padding: 0;
}

.inner_wrapper {
  align-self: center;
  cursor: pointer;
  text-align: end;
  padding: 0;
}

.icon_notification {
  color: #ffffff;
  font-size: 30px;
}
