.background_dashboard {
  background-color: var(--bs-light);
  padding: 0;
}

.wrapper_dashboard {
  background-color: var(--bs-light);
  padding: 20px 47px;
  min-height: 95vh;
}

.wrapper_dashboard_active {
  padding-right: 30px;
}

.ticket_summary,
.ticket_history {
  color: var(--gray-800-color);
  font-family: "Poppins-Bold";
  font-style: normal;
  line-height: 24px;
  font-weight: bold;

  font-size: 20px;
}

.ticket_history {
  margin-bottom: 14px;
}

.wrapper_button_create_ticket {
  text-align: end;
}

.button_create_ticket {
  background-color: var(--primary-color);
  font-family: "Poppins-Regular";
  margin-bottom: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  padding: 8px 16px;
  font-size: 20px;
  border: none;
}

.button_create_ticket:focus {
  background-color: var(--primary-color);
  background-color: var(--primary-color);
  box-shadow: none;
}

.icon_plus {
  vertical-align: -3px;
  color: var(--bs-white);
}

.info,
.link_info:hover {
  color: var(--bs-danger);
}

.progress,
.link_progress:hover {
  color: var(--bs-yellow);
}

.check,
.link_check:hover {
  color: #28a745;
}

.wrapper_link_ticket_list {
  text-align: end;
}

.link_ticket_list {
  font-family: "Poppins-Regular";
  color: var(--gray-800-color);
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  line-height: 36px;
  font-size: 16px;
}

.link_ticket_list:hover {
  color: var(--primary-color);
}

.arrow_see_all {
  vertical-align: -2px;
  margin-right: 2px;
  margin-left: 8px;
  font-size: 15px;
}

.wrapper_link_ticket_list_block {
  text-align: end;
  max-width: 75px;
  padding: 0;
}

.arrow_see_all_block {
  vertical-align: -2px;
  margin-right: 2px;
  margin-left: 4px;
  font-size: 13px;
}

.wrapper_recent_activity_ticket {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  background-color: var(--bs-white);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
}

.icon_recent_activity_ticket {
  margin-right: 8px;
  margin-left: 10px;
  max-width: 40px;
  padding: 0;
}

.border_take_action {
  border: 2px solid var(--bs-danger);
}

.wrapper_recent_activity_ticket_name {
  font-family: "Poppins-Bold";
  margin-bottom: 7px;
  line-height: 19px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.wrapper_recent_activity_ticket_type {
  font-family: "Roboto-Medium";
  max-width: max-content;
  color: var(--bs-white);
  border-radius: 4px;
  line-height: 12px;
  padding: 3px 4px;
  font-weight: 500;
  font-size: 12px;
}

.background_design_ticket {
  background-color: var(--primary-color);
}

.background_take_action {
  background-color: var(--bs-danger);
}

.design_ticket_color_ticket_name {
  color: var(--bs-danger);
}

.content_recent_activity_ticket {
  font-family: "Poppins-Regular";
  color: var(--gray-800-color);
  margin-bottom: 10px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
}

.date_recent_activity_ticket {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  padding-right: 0;
  color: #6c757d;
  font-size: 12px;
  margin-top: 4px;
}

.wrapper_review_link {
  max-width: 80px;
  text-align: end;
  padding-left: 0;
}

.review_link {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
}

.color_reviev_link_design_ticket,
.color_reviev_link_design_ticket:hover {
  color: var(--primary-color);
}

.color_reviev_link_take_action,
.color_reviev_link_take_action:hover {
  color: var(--bs-danger);
}

.take_action_color_ticket_name {
  color: var(--gray-800-color);
}

.wrapper_table {
  background-color: var(--bs-white);
  margin-bottom: 45px;
}

.wrapper_thead {
  box-shadow: inset 0px -2px 0px #dfdfdf;
  color: var(--primary-color);
  font-family: "Poppins-Bold";
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
}

.wrapper_thead_item {
  padding: 16px 12px 16px 16px !important;
}

.content_thead {
  padding-right: 0;
}

.arrow_thead {
  text-align: end;
  max-width: 38px;
  cursor: pointer;
  padding-left: 0;
}

.arrow_thead_active {
  transform: rotate(180deg);
}

.wrapper_button_recent_activity {
  text-align: end;
}

.recent_activity_block {
  background-color: var(--bs-light);
  transition: all 0.2s linear;
  max-width: 0;
  padding: 0;
}

.recent_activity_block_active {
  padding: 36px 47px 0px 0px;
  position: absolute;
  overflow-y: auto;
  max-width: 306px;
  height: 100%;
  right: 0;
  top: 0;
}

.button_recent_activity_block {
  color: var(--gray-800-color);
  font-family: "Poppins-Bold";
  margin-bottom: 14px;
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  margin-top: 6px;
  cursor: pointer;
  font-size: 17px;
  padding: 0;
}

.arrow_button_block {
  font-size: 12px;
}

.empty {
  width: 38px;
}

.wrapper_tbody {
  box-shadow: inset 0px -2px 0px #dfdfdf;
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
}

.wrapper_tbody_image {
  margin-left: 1px;
}

.wrapper_tbody_item {
  padding: 11px 16px !important;
  vertical-align: middle;
  height: 66px;
}

.wrapper_arrow_tbody {
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.arrow_tbody {
  color: var(--gray-800-color);
  font-size: 12px;
}

.wrapper_thead_inner {
  box-shadow: inset 0px -1px 0px #dfdfdf;
  background-color: var(--blue-gray-color);
  color: var(--gray-800-color);
  font-family: "Poppins-Bold";
  font-style: normal;
  line-height: 21px;
  font-weight: bold;
  font-size: 14px;
}

.wrapper_thead_item_inner {
  padding: 8px 12px 8px 16px !important;
}

.wrapper_tbody_inner {
  box-shadow: inset 0px -1px 0px #a17e7e;
  background: var(--blue-gray-color);
  font-family: "Poppins-Regular";
  color: var(--bs-gray-800);
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  font-size: 12px;
}

.wrapper_tbody_item_inner {
  padding: 5px 16px !important;
}

.button_add_ticket {
  border: 2px solid var(--primary-color);
  background: var(--blue-gray-color);
  font-family: "Poppins-Regular";
  color: var(--primary-color);
  font-weight: normal;
  font-style: normal;
  line-height: 21px;
  font-size: 14px;
  padding: 5px;
}

.button_add_ticket:hover,
.button_add_ticket:focus {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  box-shadow: none;
}

.icon_plus_add {
  vertical-align: -5px;
  font-size: 20px;
}

.content {
  text-align: end;
  color: #1c1c28;
}

.gray {
  color: var(--gray-800-color);
}

.width_1 {
  width: 13%;
}

.width_2 {
  width: 17%;
}

.width_3 {
  width: 18%;
}

.width_4 {
  width: 60%;
}

.text_end {
  text-align: end;
}

.tbody_image {
  max-width: 24px;
  padding: 0;
}

.wrapper_tbody_approver {
  padding-left: 4px;
}

.button_recent_activity {
  font-family: "Poppins-Regular";
  border-radius: 4.8px;
  font-weight: normal;
  padding: 8px 26.5px;
  font-style: normal;
  line-height: 24px;
  min-height: 46px;
  min-width: 259px;
  font-size: 20px;
}

.button_recent_activity_active {
  visibility: hidden;
}

.wrapper_arrow_button {
  max-height: 30px;
  max-width: 30px;
}

.arrow_button {
  vertical-align: -2px;
  font-size: 18px;
}

.recent_activity {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 20px;
  padding: 0;
}

.value_recent_activity {
  background-color: var(--bs-white);
  font-family: "Poppins-Bold";
  color: var(--bs-danger);
  margin-right: 17px;
  text-align: center;
  font-style: normal;
  border-radius: 50%;
  line-height: 24px;
  font-weight: bold;
  max-height: 20px;
  font-size: 12px;
  max-width: 20px;
  margin-top: 2px;
  padding: 0px;
}

.background_active_ticket {
  background-color: var(--blue-gray-color);
}

.table_row_active {
  transform: rotate(180deg);
}
