.head {
  color: var(--gray-800-color);
  font-family: "Poppins-Bold";
  line-height: 21px;
  font-weight: bold;
  font-size: 14px;
}

.body {
  font-weight: normal;
  line-height: 21px;
  font-size: 12px;
}

.button_outline {
  border-color: var(--primary-color);
  font-family: "Poppins-Regular";
  color: var(--primary-color);
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
}

.button_outline:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
