.wrapper_summary {
  background-color: var(--bs-white);
  border-radius: 16px;
  margin-bottom: 22px;
  margin-right: 30px;
  padding: 0;
}

.wrapper_summary:last-of-type {
  margin-right: 15px;
}

.link_summary {
  font-family: "Poppins-Regular";
  color: var(--gray-800-color);
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 20px;
  display: block;
  padding: 16px;
}

.quantity_summary {
  font-family: "Poppins-Medium";
  font-style: normal;
  line-height: 72px;
  font-weight: 500;
  font-size: 48px;
}