.switches {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.switch {
  border: 1px solid var(--blue-gray-color);
  background-color: var(--blue-gray-color);
  font-family: Poppins-Regular, sans-serif;
  color: var(--gray-800-color);
  line-height: 150%;
  font-size: 1rem;
}

.switch_active,
.switch:focus,
.switch:active {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.25rem !important;
  box-shadow: none !important;
  color: var(--white-color);
}
