.switches {
  border: 1px solid #dee2e6;
  margin-right: -50px;
  border-radius: 4px;
}

.switch {
  border: 1px solid var(--blue-gray-color);
  background-color: var(--blue-gray-color);
  font-family: "Poppins-Regular";
  color: var(--gray-800-color);
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
}

.switch_active,
.switch:active,
.switch:focus {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px !important;
  box-shadow: none !important;
  color: var(--bs-white);
}
