.nav_link {
  transition: all 0.2s linear;
  padding-left: 18px;
}

.nav_link_active,
.nav_link:hover {
  box-shadow: inset 4px 0 0 #ffda00;
  background-color: var(--bs-white);
}

.nav_link_active .link,
.nav_link:hover .link {
  color: var(--primary-color);
}

.link {
  font-family: "Poppins-Regular";
  color: var(--bs-white);
  text-decoration: none;
  font-weight: normal;
  align-items: center;
  font-style: normal;
  line-height: 120%;
  column-gap: 16px;
  font-size: 16px;
  display: flex;
}

.icon {
  transition: all 0.2s linear;
  font-size: 20px;
}

.user_list {
  font-family: "Poppins-Medium";
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
}
