.icon_recent_activity_ticket {
  border-radius: 50%;
  margin-right: 8px;
  max-height: 40px;
  min-width: 40px;
  padding: 0;
}

.icon_recent_activity_ticket_name {
  font-family: "Poppins-Bold";
  color: var(--bs-white);
  font-style: normal;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  font-size: 16px;
}

.ticket {
  background-color: var(--primary-color) !important;
}

.action {
  background-color: var(--bs-red) !important;
}

.ticket,
.action {
  font-family: "Roboto-Medium";
  color: var(--bs-white);
  font-style: normal;
  line-height: 12px;
  font-weight: 500;
  font-size: 12px;
}

.title {
  font-family: "Poppins-Bold";
  font-style: normal;
  line-height: 19px;
  font-weight: bold;
  font-size: 16px;
}

.title_default {
  color: var(--gray-800-color);
}

.title_danger {
  color: var(--bs-red);
}

.date {
  font-family: "Poppins-Regular";
  color: var(--bs-gray-600);
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  font-size: 12px;
}

.description {
  color: var(--gray-800-color);
  font-family: "Poppins-Bold";
  font-style: normal;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
}

.fw_normal {
  font-family: "Poppins-Regular";
  font-weight: normal;
}
