.pagination {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.075));
  border-radius: 4px;
}

.pagination_item {
  line-height: 21px;
  font-size: 14px;
}

.pagination_item span,
.pagination_item a {
  color: var(--primary-color);
}

.pagination_item a {
  border: 0.5px solid #dee2e6;
}

.pagination_item > a:focus,
.pagination_item > a:active {
  box-shadow: none !important;
}
