.wrapper_column_name {
  padding: 16px 13px 16px 16px !important;
  vertical-align: middle;
  height: 56px;
}

.wrap_icon {
  margin-right: 15px;
  cursor: pointer;
  max-width: 14px;
  text-align: end;
  padding: 0;
}

.arrow_thead_active {
  transform: rotate(180deg);
}