:root {
  --primary-color: #001689;
  --blue-gray-color: #f1f3f6;
  --gray-800-color: #1f2937;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../src/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../src/fonts/Poppins-Bold.ttf");
}
