:root {
  --yellow-500-color: #f59e0b;
  --yellow-100-color: #fef3c7;
  --green-600-color: #059669;
  --green-100-color: #d1fae5;
  --blue-gray-color: #f1f3f6;
  --gray-500-color: #6b7280;
  --gray-100-color: #f3f4f6;
  --blue-500-color: #3b82f6;
  --blue-100-color: #dbeafe;
  --gray-800-color: #1f2937;
  --primary-color: #001689;
  --red-500-color: #ef4444;
  --red-100-color: #fee2e2;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../src/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../src/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../src/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../src/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../src/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../src/fonts/SFProDisplay-Regular.OTF");
}

a.navbar-expand.navbar-nav.nav-link,
a.dropdown-toggle.nav-link,
.dropdown-menu {
  outline: none;
  padding: 0;
}

.navbar-expand .navbar-nav {
  flex-direction: column;
}

.dropdown-menu[data-bs-popper] {
  top: 135%;
  left: 18%;
}

.table > :not(:first-child) {
  border-top: 2px solid #dfdfdf;
}

.page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
