:root {
  --primary-color: #001689;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../src/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../src/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../src/fonts/Poppins-Bold.ttf");
}

a.navbar-expand.navbar-nav.nav-link,
a.dropdown-toggle.nav-link,
.dropdown-menu {
  outline: none;
  padding: 0;
}

.navbar-expand .navbar-nav {
  flex-direction: column;
}

.dropdown-menu[data-bs-popper] {
  top: 150%;
  left: 18%;
}

.table > :not(:first-child) {
  border-top: 2px solid #dfdfdf;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0;
}
