.dropdown {
  padding: 0px;
}

.dropdown > a::after {
  display: none;
}

.button_dropdown {
  margin-left: 22px;
  max-width: 170px;
}

.avatar {
  margin-right: 8px;
}

.dropdown_item {
  font-family: "Poppins-Regular";
  padding: 10px 16px 10px 10px;
  color: var(--gray-800-color);
  letter-spacing: -0.011em;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 12px;
}

.icon {
  color: var(--gray-800-color);
  margin-right: 4px;
  font-size: 20px;
}

.divider {
  border: 1px solid #e5e7eb;
  margin: 0;
}

.logout {
  line-height: 18px;
}
