.wrap_icon {
  border: 1px solid var(--bs-gray-300);
  border-right: none;
  cursor: pointer;
}

.wrap_icon,
.input {
  background-color: var(--blue-gray-color);
}

.search_icon {
  font-size: 1.25rem;
  color: #5c5f62;
}

.input {
  border-left: 1px solid var(--blue-gray-color);
  border: 1px solid var(--bs-gray-300);
  font-family: "Lato-Regular";
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
}

.input .wrap_icon {
  border: 1px solid var(--bs-gray-300);
}

.input:focus {
  border: 1px solid var(--blue-500-color);
  box-shadow: none;
}
