.input_container {
  margin: 0 auto;
  margin-bottom: 19px;
  position: relative;
  max-width: 350px;
  padding: 0;
}

.label {
  color: #6c757d;
  margin-bottom: 0;
}

.input {
  border: 1px solid #dfdfdf;
  padding: 9px 16px;
  min-height: 44px;
}

.link_forgot_password,
.input_container,
.before_link,
.remember_me,
.link_login,
.input {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  font-size: 14px;
}

.wrapper_button {
  max-width: 350px;
}

.button {
  background-color: #001689;
  font-family: "Poppins-Bold";
  padding: 16px 111px;
  border-radius: 4px;
  font-style: normal;
  font-size: 15.5px;
  font-weight: bold;
  line-height: 24px;
  min-width: 100%;
  border: none;
}

.before_link {
  padding-right: 8px;
  color: #616161;
  text-align: end;
}

.wrapper_link_login {
  text-align: start;
  padding: 0;
}

.link_forgot_password,
.link_login {
  text-decoration: none;
  color: #001689;
}

.remember_me {
  color: var(--bs-dark);
}

.wrapper_link_forgot_password,
.before_link {
  text-align: end;
}

.link_forgot_password,
.remember_me {
  font-size: 16px;
}
